* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: none;
}
body {
  font-family: "Graphik", sans-serif;
  font-weight: 500;
  color: #222222;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.header {
  padding: 22px 0;
  box-shadow: inset 0px -1px 0px #e6e6e6;
  margin-bottom: 126px;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.header__right li {
  display: inline-block;
}

.header__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

.header__list-item {
  margin-right: 24px;
}

.header__list-item:first-child {
  margin-left: 20px;
}

.header__left {
}
.header__tel {
  margin-right: 17px;
  font-weight: 500;
  font-size: 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.header__login {
  font-size: 12px;
  color: #4d4d4d;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  padding: 12px 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
}

.main {
  font-weight: 600;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 198px;
}

.main__content {
}

.main__text {
}

.main__green {
  color: #00a00b;
  display: block;
}

.main__linespace {
  display: block;
}

.properties__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.properties__top p {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

.properties__top a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #4d4d4d;
  padding: 16px 29px;
  border: 1px solid #dcdce6;
  border-radius: 4px;
  margin-bottom: 40px;
}

.properties__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 96px;
}

.property__adress {
  color: #222222;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.property__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #4d4d4d;
}

.personal__area-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

.personal__area-boxes {
  display: flex;
}

.personal__area-right img {
  width: 32px;
  height: 32px;
  float: left;
}

.personal__area-right {
  width: 60%;
  background: #f8f9fb;
  border-radius: 5px 0px 0px 5px;
  padding: 10% 5%;
  display: flex;
  align-items: left;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.personal__area-right ul li {
  display: flex;
  flex-direction: column;
}

.personal__area-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

.personal__area-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.personal__area-left {
  width: 40%;
  padding: 10% 5%;
  display: flex;
  align-items: left;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #f2f4f7;
  border-radius: 0px 8px 8px 0px;
}

.personal__area-left input {
  background: #f2f4f7;
  border-radius: 4px;
  padding: 16px;
  width: 100;
}

.forgot {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #969ba5;
  margin-bottom: 24px;
}

.logon {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: #525761;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.register {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  text-align: center;
  color: #969ba5;
}
