* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
  border: none;
}
body {
  font-family: "Graphik", sans-serif;
  font-weight: 500;
  color: #222222;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.personal__area-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}

.personal__area-boxes {
  display: flex;
  margin-bottom: 100px;
}

.personal__area-right img {
  width: 32px;
  height: 32px;
  float: left;
}

.personal__area-right {
  width: 60%;
  background: #f8f9fb;
  border-radius: 5px 0px 0px 5px;
  padding: 10% 5%;
  display: flex;
  align-items: left;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}

.personal__area-right ul li {
  display: flex;
  flex-direction: column;
}

.personal__area-bold {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 32px;
}

.personal__area-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 32px;
}

.personal__area-left {
  width: 40%;
  padding: 10% 5%;
  display: flex;
  align-items: left;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border: 1px solid #f2f4f7;
  border-radius: 0px 8px 8px 0px;
}

.personal__area-left input {
  background: #f2f4f7;
  border-radius: 4px;
  padding: 16px;
  width: 100;
}

.forgot {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #969ba5;
  margin-bottom: 24px;
}

.logon {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  background: #525761;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

.register {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  text-align: center;
  color: #969ba5;
}
